.paper {
    width: 500px;
    .head {
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #182d36;
            font-size: 1.1em;
        }
    }
    .body {
        padding: 1rem;
    }   
    .inputGroup {
        display: flex;
        button {
            margin-top: 8px;
            margin-bottom: 4px;
            margin-left: 0.8rem;
        }
    }
    .controls {
        margin-top: 0.5rem;
        margin-bottom: 4px;
        text-align: right;
    }
    .actions {
        height: 70px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        box-sizing: border-box;
        button {
            width: 40%;
        }
    }
}